body {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 32, 43);;
  
}


.input-container {
float: right;
}

.input-box {
  float: right;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.users-container {
  border: solid 0.5px gray;

}


h1 {
  text-align: center;
  color: white;
}

.imgs {
  border-radius: 50%;
  float: left;
  width: 10%;

}

.name {
  float: left;
  margin-right: 20px;
  color: white;
  font-weight: bolder;
}

.at {
  color: white;

}

.tweets {
  text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
color: white;
}

.twit-cons {
  color: white;
}








